*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
}

.container {
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    max-width: 1200px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.row > * {
    padding: 0 10px;
}
.col-20 {
    width: 20%;
}
.col-25 {
    width: 25%;
}
.col-30 {
    width: 30%;
}
.col-40{
    width: 40%;
}
.col-50 {
    width: 50%;
}
.col-60{
    width: 60%;
}
.col-70 {
    width: 70%;
}
.col-80 {
    width: 80%;
}
.col-100 {
    width: 100%;
}
.col-grow {
    flex-grow: 1;
}
.button{
    border-radius: 50px;
    border: none;
    width: auto;
    padding: 10px 20px;
}
/* ----------
HEADER 
----------- */

header{
    background-color: #255EE9;
    color: #FFFFFF; 
}

header .container{
    padding: 18px 0px;
}

header .container .row{
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.main-nav ul {
    display: flex;
    justify-content: center;
}
.main-nav li a {
    padding: 18px;
}
.flex-end{
    display: flex;
    justify-content: end;
}
/* ----------
END OF HEADER 
----------- */

/* ----------
HERO
----------- */
.hero{
    background-image: url(./img/jumbo.png);
    background-size: cover;
}
.hero-container{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    padding-top: 120px;
}
.hero-container h1{
    font-size: 70px;
}
.hero-container p{
    padding-top: 40px;
    font-size: 22px;
    padding-bottom: 25px;
}
.hero-buttons{
    padding-bottom: 200px;
}
.mac-download{
    font-weight: 600;
}
.open-discord{
    background-color: #000;
    color: #FFFFFF;
}
/* ----------
END OF HERO
----------- */

/* ----------
MAIN
----------- */
.image{
    width: 100%;
}
.main-section{
    padding: 35px;   
}
.first{
    background-color: #FFFFFF;
}
.second{
    background-color: #D3D3D3;
}
.col-30 p, .col-100{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
.col-100 div{
    width: 100%;
}
.col-100{
    text-align: center;
}
h2{
    font-size: 50px;
    padding-bottom: 40px;
    font-weight: 700;
}
.last-section .container{
    flex-direction: column;
    justify-content: center;
}
.last-section .container h2{
    text-align: center;
    padding-bottom: 30px;
    background-image: url(./img/stars.svg);
}
.last-section .container div{
    text-align: center;
    padding-bottom: 100px;
}
.last-section .container .button, .footer-bottom .container .button{
    background-color: #8EA1E1;
    color: #FFFFFF;
    padding: 15px 25px;
}

/* ----------
 END OF MAIN
----------- */

/* ----------
 FOOTER
----------- */

footer{
    background-color: #23272A;
    color: #FFFFFF;   
}
h3{
    font-size: 40px;
    color: #7289DA;
    font-weight: 800;
}
h4{
    color: #7289DA;
}
.footer-top{
    padding-top: 15px;
    
}
.footer-top .container{
    padding-top: 60px;
    border-bottom: 2px solid #C4C4C4;
}
li img{
    height: 18px;
}
.col-30 ul li{
    padding-bottom: 25px;
}
.col-25 ul li{
    padding-bottom: 16px;
}
.footer-top .container .col-70{
    display: flex;
}
.footer-bottom .container{
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
